<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
   
   <!-- 指定注解所在的基本包 -->
   <context:component-scan base-package="com.springmvcdemo"></context:component-scan>
   
   <!-- 为springmvc指定视图解析器 -->
   <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="prefix" value="/WEB-INF/jsp/"></property>
      <property name="suffix" value=".jsp"></property>
   
   </bean>
   
   <!-- 配置国际化资源文件 -->
   <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
      <property name="basename" value="i18n"></property>
   </bean>
   
   <!-- 转发和重定向index页面，代替了控制器里面的 首页面@RequestMapping({"/index","/",""}),
   如果不加mnv:annotation-driven 则所有的RequestMapping()都会失效-->
   <mvc:view-controller path="/index" view-name="index"/> <!--重定向到testMV：view-name="redirect:/testMV" -->  
    <mvc:annotation-driven /> <!-- 加入了一个自定义数据转换器id=conversionService -->
    
    <!--spring的IOC容器的bean的id值，来解析视图，通过类名解析找到自定义视图 excelTest方法ev1 -->
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
      <property name="order" value="100"></property>
    </bean>
    
    <!-- 让springmvc自动识别静态资源，js,css,图片 -->
    <mvc:default-servlet-handler/>
    
   
   <!-- 文件的上传 -->
   <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     <property name="maxUploadSize" value="10485760"></property>
     <property name="defaultEncoding" value="UTF-8"></property>
     
   </bean>
   
   <!-- 配置拦截器 -->
  <mvc:interceptors>
    <mvc:interceptor>
        <mvc:mapping path="/**"/><!-- 先拦截所有的请求-->
        <mvc:exclude-mapping path="/index"/><!-- 在排除拦截这个路径 	HandlerInterceptor1 -->
        <bean class="com.springmvcdemo.web.HandlerInterceptor1"></bean>
    </mvc:interceptor>
  </mvc:interceptors>
   
   
   <!--方法1：创建ExController类，在里面加注解 方法2：配置异常处理 -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
    <property name="exceptionAttribute" value="ex"></property><!-- 默认异常处理变量是exception，这里自定义为ex -->
      <property name="exceptionMappings">   
        <props>
          <prop key="java.lang.Runtime">error</prop>
        </props>
      </property>
    </bean>
   
    
</beans>
